[submodule "Vendor/Fragaria"]
	path = Vendor/Fragaria
	url = https://github.com/mugginsoft/Fragaria.git
	branch = master
[submodule "Vendor/CocoaAsyncSocket"]
	path = Vendor/CocoaAsyncSocket
	url = https://github.com/robbiehanson/CocoaAsyncSocket
	branch = master
